.gallery__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  list-style: none;
  margin-block-end: 70px;
}

.gallery__list li {
  height: 196px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.gallery__list li:last-child {
  height: 424px;
}

.gallery__image {
  width: clamp(20rem, 16.0227rem + 19.8864vw, 28.75rem);
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media (width >=1024px) {

  .gallery__list {
    padding: 0 36px 1px 36px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    justify-items: center;
  }

  .gallery__list li:nth-child(3) {
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
  }

  .gallery__list li:last-child .gallery__image {
    width: 956px;
  }
}

@media (width >=1919px) {
  .gallery__list {
    padding: 0 320px 1px 320px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .gallery__list li:nth-child(1),
  .gallery__list li:nth-child(2) {
    grid-column: 1;
  }

  .gallery__list li:nth-child(3) {
    grid-column: 2;
    display: flex;
    justify-content: center;
    margin-top: -228px;
    width: 788px;
  }
}