@font-face {
  font-family: "Archangelsk";
  src: url('./Archangelsk.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Roboto";
  src: url('./Roboto-VariableFont_wdth,wght.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
